{% extends "base.html" %}
{% block content %}
{{ super() }}


<form action="" method="POST">
    {{ form.hidden_tag() }}
    <div class="row">
    <div class="col">
    </div>
    <div class="col">
        {{ form.composer(class='form-control', placeholder='Tonsättare') }}
        <div id="authorHelp" class="form-text">Efternamn, Förnamn</div>
    </div>
    <div class="col">
        <!--{{ form.title.label(class='form-label') }}-->
        {{ form.title(class='form-control', placeholder="Titel") }}
    </div>
    <div class="col">
        {{ form.parts(class='form-control', placeholder="SATB...") }}
    </div>
    <div class="col">
    <button type="submit" class="btn btn-warning">Sök</button>
    </div>
    </div>
</form>

{% if sheets %}
<table class="table table-striped" id="data">
    <thead>
        <tr>
            <th><img src="/static/file-pdf.svg"></th>
            <th>Tonsättare</th>
            <th>Titel</th>
            <th>År</th>
            <th>Text</th>
            <th>Arr</th>
            <th>Besättning</th>
            <th>Placering</th>
        </tr>
    </thead>
    <tbody>
{% for sheet in sheets %}
        <tr>
            <td>
                {% if sheet.pdf %}
                <a href="foo.pdf">
                    <img src="/static/file-pdf.svg">
                </a>
                {% endif %}
            </td>
            <td> 
                {% for composer in sheet.composers %}
                    {% if composer.first %}
                    {{ composer.last }}, {{ composer.first }}<br>
                    {% else %}
                    {{ composer.last }}<br>
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                <i>{{ sheet.title.split(':')[0] }}</i><br>
                {% if ':' in sheet.title %}
                    <i><small>{{ sheet.title.split(':')[1] }}</small></i>
                {% endif %}
            </td>
            <td>{% if sheet.year %}{{ sheet.year }}{% endif %}</td>
            <td>{{ sheet.lyrics }}</td>
            <td>{{ sheet.arrangement }}</td>
            <td>{{ sheet.parts }}</td>
            <td>{{ sheet.location }}</td>
        </tr>
{% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock %}

