{% extends "base.html" %}
{% block content %}
{{ super() }}
<h1 class="fam">Fam Vahtras notbibliotek</h1>
<table class="table table-striped" id="data">
    <thead>
        <tr>
            <th><img src="/static/file-pdf.svg"></th>
            <th>Tonsättare</th>
            <th>Titel</th>
            <th>År</th>
            <th>Text</th>
            <th>Arr</th>
            <th>Besättning</th>
            <th>Placering</th>
        </tr>
    </thead>
    <tbody>
{% for sheet in sheets %}
        <tr>
            <td>
    {% if sheet.pdf %}
        <img src="/static/file-pdf.svg">
    {% endif %}
            </td>
            <td> {{ sheet.composers.0.last }}, {{ sheet.composers.0.first }} </td>
            <td><i>{{ sheet.title.split(':')[0] }}</i></td>
            <td>{{ sheet.year }}</td>
            <td><i>{{ sheet.lyrics }}</i></td>
            <td>{{ sheet.arrangement }}</td>
            <td>{{ sheet.parts }}</td>
            <td>{{ sheet.placement }}</td>
        </tr>
{% endfor %}
    </tbody>
{% endblock %}
